// font
$font-global: "Montserrat", sans-serif;
$font-path: "../assets/fonts";

// color
$color-global: #16171b;
$color-white: #ffffff;
$color-primary: #862fde;
$color-extra: #f6f6f9;
$color-base: #8c8f97;
$color-general: #ecedf2;
$color-factory: #404144;
$color-excess: rgba(22, 23, 27, 0.4);

// device breakpoints
$sm: 360px;
$md: 768px;
$lg: 1080px;
$xl: 1440px;
$xxl: 1920px;
